services:
  db:
    image: postgres
    restart: always
    env_file:
      - .env.postgres
    volumes:
      - pgdata:/var/lib/postgresql/data 
    ports:
      - 5432:5432
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
 
volumes:
  pgdata:
